@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}


@layer base {
  @font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Thin'), local('BebasNeue-Thin'), url('/fonts/bebasneuethin.woff2') format('woff2'), url('/fonts/bebasneuethin.woff') format('woff'), url('/fonts/bebasneuethin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Light'), local('BebasNeue-Light'), url('/fonts/bebasneuelight.woff2') format('woff2'), url('/fonts/bebasneuelight.woff') format('woff'), url('/fonts/bebasneuelight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Book'), local('BebasNeueBook'), url('/fonts/bebasneuebook.woff2') format('woff2'), url('/fonts/bebasneuebook.woff') format('woff'), url('/fonts/bebasneuebook.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Regular'), local('BebasNeueRegular'), url('/fonts/bebasneueregular.woff2') format('woff2'), url('/fonts/bebasneueregular.woff') format('woff'), url('/fonts/bebasneueregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Bold'), local('BebasNeueBold'), url('/fonts/bebasneuebold.woff2') format('woff2'), url('/fonts/bebasneuebold.woff') format('woff'), url('/fonts/bebasneuebold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
}

body {
  --black: #000000;
  --ash-black: #222;
  --white: #fafafa;
  --sky: #00ccff;
  --green: #22dddd;
  --blue: #1300ff;
  --dusk: #6600ff;
  --purple: #9900ff;
  --pink: #ff0066;
  --red: #141414;
  --orange: #fd7702;
  --yellow: #ffbb00;

  --background: var(--red);
  --accent: var(--white);

  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--accent);
}

* {
  scroll-behavior: smooth;
  font-family: 'Bebas Neue';
}

#app {
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}


body {
  background: #000;
}

.button-primary {
  --shadow-primary: hsl(var(--shadow-primary-hue), 90%, 50%);
  --primary-hue: 0;
  --primary-lightness: 50;
  --color: hsl(0, 0%, 100%);
  --shadow-primary-hue: 180;
  --label-size: 9px;
  --shadow-secondary-hue: 60;
  --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
  --clip: polygon(0 0, 70% 0,
      75% 10%,
      100% 10%, 100% 0, 100% 100%, 100% 0, 100% 100%, 85% 100%, 85% 100%, 10% 100%, 0 70%);
  --border: 0px;
  --shimmy-distance: 5;
  --clip-one: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
  --clip-two: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
  --clip-three: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
  --clip-four: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  --clip-five: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  --clip-six: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
  --clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
  color: var(--color);
  cursor: pointer;
  clip-path: margin-box;
  background: transparent;
  text-transform: uppercase;
  font-size: var(--font-size);
  outline: transparent;
  position: relative;
  font-weight: 700;
  transition: background 0.2s;
}

.button-primary:hover {
  --primary: 84 33.3% 97.1%;
}

.button-primary:active {
  --primary: 84 33.3% 97.1%;
}

.button-primary:after,
.button-primary:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  clip-path: var(--clip);
  z-index: -1;
}

.button-primary:before {
  /* background: var(--shadow-primary); */
  background: linear-gradient(253.22deg, #576E6F -3.15%, #A6D4D5 96.1%);
  transform: translate(var(--border), 0);
}

.button-primary:after {
  width: calc(100% - 11px);
  height: calc(100% - 6px);
  top: 50%;
  left: calc(50% + 1px);
  transform: translate(-50%, -50%);
  background: #0E2C2C;
  /* background: var(--primary); */
}


.button-primary-glitch {
  position: absolute;
  top: calc(var(--border) * -1);
  left: calc(var(--border) * -1);
  right: calc(var(--border) * -1);
  bottom: calc(var(--border) * -1);
  background: var(--shadow-primary);
  text-shadow: 2px 2px var(--shadow-primary), -2px -2px var(--shadow-secondary);
  clip-path: var(--clip);
  animation: glitch 2s infinite;
  display: none;
}

.button-primary:hover .button-primary-glitch {
  display: block;
}

.button-primary-glitch:before {
  content: '';
  position: absolute;
  top: calc(var(--border) * 1);
  right: calc(var(--border) * 1);
  bottom: calc(var(--border) * 1);
  left: calc(var(--border) * 1);
  clip-path: var(--clip);
  background: var(--primary);
  z-index: -1;
}

@keyframes glitch {
  0% {
    clip-path: var(--clip-one);
  }

  2%,
  8% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }

  6% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }

  9% {
    clip-path: var(--clip-two);
    transform: translate(0, 0);
  }

  10% {
    clip-path: var(--clip-three);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }

  13% {
    clip-path: var(--clip-three);
    transform: translate(0, 0);
  }

  14%,
  21% {
    clip-path: var(--clip-four);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }

  25% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }

  30% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }

  35%,
  45% {
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * -1%));
  }

  40% {
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * 1%));
  }

  50% {
    clip-path: var(--clip-six);
    transform: translate(0, 0);
  }

  55% {
    clip-path: var(--clip-seven);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }

  60% {
    clip-path: var(--clip-seven);
    transform: translate(0, 0);
  }

  31%,
  61%,
  100% {
    clip-path: var(--clip-four);
  }
}

.information-card .side::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0.4;
  background-size: 32px 32px;
  background-image: repeating-linear-gradient(0deg, #576E6F, #A6D4D5 1px, transparent 1px, transparent);
}

.information-card::after {
  content: '';
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  position: absolute;
  left: -1px;
  top: -1px;
  bottom: -1px;
  right: -1px;
  --s: 36px;
  /* size of the corners */
  z-index: 12;
  border: 1px solid #A6D4D5;
  mask:
    conic-gradient(#A6D4D5 0 0) content-box,
    conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0/calc(100% - var(--s)) calc(100% - var(--s));
}


:root {
  --glitched-duration: 7s;
  --glitched-long-duration: 12s;
  --yellow-color: #f9f002;
  --yellow-color-opacity: #f9f00242;
  --orange-color: #ff9800;
  --border-color: #8ae66e;
  --red-color: #ff003c;
  --blue-color: #0c5f74;
  --green-color: #298d29;
  --purple-color: purple;
  --neon-color: #39ff14;
  --black-color: #000;
}


/* Titles */

h1.cyberpunk,
h2.cyberpunk,
h3.cyberpunk,
h4.cyberpunk,
.cyberpunk h1,
.cyberpunk h2,
.cyberpunk h3,
.cyberpunk h4 {
  position: relative;
}

h1.cyberpunk:before,
h2.cyberpunk:before,
h3.cyberpunk:before,
h4.cyberpunk:before,
.cyberpunk h1:before,
.cyberpunk h2:before,
.cyberpunk h3:before,
.cyberpunk h4:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 2px;
  width: 100%;
  height: 10px;
  background-color: #15FAF885;
  clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
}

h1.cyberpunk.glitched,
.cyberpunk h1.glitched {
  animation-name: h1glitched;
  animation-duration: calc(var(--glitched-duration) * 1.4);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

h2.cyberpunk.glitched,
.cyberpunk h2.glitched {
  animation-name: h1glitched;
  animation-duration: calc(var(--glitched-duration) * 1.7);
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: linear;
}

h3.cyberpunk.glitched,
.cyberpunk h3.glitched {
  animation-name: h1glitched;
  animation-duration: calc(var(--glitched-duration) * 1.1);
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: ease-out;
}

h4.cyberpunk.glitched,
.cyberpunk h4.glitched {
  animation-name: h1glitched;
  animation-duration: calc(var(--glitched-duration) * 2.1);
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes h1glitched {
  0% {
    transform: skew(-20deg);
    left: -4px;
  }

  10% {
    transform: skew(-20deg);
    left: -4px;
  }

  11% {
    transform: skew(0deg);
    left: 2px;
  }

  50% {
    transform: skew(0deg);
  }

  51% {
    transform: skew(10deg);
  }

  59% {
    transform: skew(10deg);
  }

  60% {
    transform: skew(0deg);
  }

  100% {
    transform: skew(0deg);
  }
}

h1.cyberpunk.glitched:before,
.cyberpunk h1.glitched:before {
  animation-name: h1beforeglitched;
  animation-duration: calc(var(--glitched-duration) * 2);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes h1beforeglitched {
  0% {
    transform: skew(-20deg);
    left: -4px;
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }

  10% {
    transform: skew(-20deg);
    left: -4px;
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }

  11% {
    transform: skew(0deg);
    left: 2px;
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }

  50% {
    transform: skew(0deg);
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }

  51% {
    transform: skew(0deg);
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 40% 5px, calc(40% - 30px) 0px, calc(40% + 30px) 0px, calc(45% - 15px) 5px, 100% 5px, 100% 6px, calc(45% - 14px) 6px, calc(40% + 29px) 1px, calc(40% - 29px) 1px, calc(40% + 1px) 6px, 85px 6px, 80px 10px, 0px 10px);
  }

  59% {
    transform: skew(0deg);
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 40% 5px, calc(40% - 30px) 0px, calc(40% + 30px) 0px, calc(45% - 15px) 5px, 100% 5px, 100% 6px, calc(45% - 14px) 6px, calc(40% + 29px) 1px, calc(40% - 29px) 1px, calc(40% + 1px) 6px, 85px 6px, 80px 10px, 0px 10px);
  }

  60% {
    transform: skew(0deg);
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }

  100% {
    transform: skew(0deg);
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
  }
}

h2.cyberpunk:before,
.cyberpunk h2:before {
  clip-path: polygon(0px 5px, 35px 5px, 40px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 20px 10px, 15px 6px, 0px 6px);
}

h2.cyberpunk.glitched:before,
.cyberpunk h2.glitched:before {
  animation-name: h2beforeglitched;
  animation-duration: calc(var(--glitched-duration) * 2);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes h2beforeglitched {
  0% {
    transform: scaleY(1);
  }

  10% {
    transform: scaleY(1);
  }

  11% {
    transform: scaleY(-1);
  }

  50% {
    transform: scaleY(-1);
  }

  51% {
    transform: scaleY(1);
  }

  59% {
    transform: scaleY(1);
  }

  60% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(1);
  }
}

h3.cyberpunk:before,
.cyberpunk h3:before {
  clip-path: polygon(0px 5px, 10px 5px, 15px 0px, 40px 0px, 45px 5px, 100% 5px, 100% 6px, 31px 6px, 27px 2px, 15px 2px, 8px 10px, 0px 10px);
}

h4.cyberpunk:before,
.cyberpunk h4:before {
  clip-path: polygon(0px 3px, 15px 3px, 20px 0px, 80px 0px, 85px 3px, 100% 3px, 100% 4px, 85px 4px, 80px 7px, 20px 7px, 15px 4px, 0px 4px);
}

h1.cyberpunk:after,
h2.cyberpunk:after,
h3.cyberpunk:after,
h4.cyberpunk:after,
p.cyberpunk:after,
.cyberpunk h1:after,
.cyberpunk h2:after,
.cyberpunk h3:after,
.cyberpunk h4:after,
.cyberpunk p:after {
  content: "_";
  animation-name: hxafter;
  animation-duration: var(--glitched-duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

h3.cyberpunk:after,
h4.cyberpunk:after,
.cyberpunk h3:after,
.cyberpunk h4:after {
  animation-direction: reverse;
  animation-duration: calc(var(--glitched-duration) / 2);
}

/* Section */
section.cyberpunk {
  background-color: var(--yellow-color);
  color: var(--black-color);
  padding: 60px 60px;
  position: relative;
  margin-top: -1px;
  margin-bottom: -1px;
}

section.cyberpunk:after,
section.cyberpunk.black:after {
  content: " ";
  display: block;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  background-color: var(--black-color);
  position: absolute;
  clip-path: polygon(0% 0%, 22% 0%, calc(22% + 30px) 30px, 52% 30px, calc(52% + 15px) 15px, 70% 15px, calc(70% + 15px) 30px, 90% 30px, calc(90% + 30px) 0px, 100% 0px, 100% 30px, 0px 30px);
}

section.cyberpunk.both:after,
section.cyberpunk.both.black:after {
  height: 100%;
  clip-path: polygon(0px 30%,
      30px calc(30% + 30px),
      30px calc(100% - 30px),
      22% calc(100% - 30px),
      calc(22% + 30px) 100%,
      52% 100%, calc(52% + 15px) calc(100% - 15px),
      70% calc(100% - 15px),
      calc(70% + 15px) 100%,
      90% 100%,
      calc(90% + 30px) calc(100% - 30px),
      100% calc(100% - 30px),
      100% 100%,
      0px 100%);
  /*background-color: red;*/
}

section.cyberpunk.black:after {
  background-color: var(--yellow-color);
}

section.cyberpunk.black {
  background-color: var(--black-color);
  color: var(--yellow-color);
}

.dotted,
.dotted:before,
.dotted:after {
  background: var(--black-color);
  background-image: radial-gradient(var(--yellow-color-opacity) 1px, transparent 0);
  background-size: 5px 5px;
  background-position: -13px -3px;
}

section.cyberpunk.black .dotted,
section.cyberpunk.black .dotted:before,
section.cyberpunk.black .dotted:after {
  background: var(--yellow-color);
  background-image: radial-gradient(#00000021 1px, transparent 0);
  background-size: 5px 5px;
  background-position: -13px -3px;
}

section.cyberpunk:before,
section.cyberpunk.black:before {
  content: " ";
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  background-color: var(--yellow-color);
  position: absolute;
  clip-path: polygon(calc(22% + 28px) -1px,
      calc(22% + 45px) 15px,
      34% 15px,
      calc(34% + 15px) -1px,
      70% 0px);
}

section.cyberpunk.both:before,
section.cyberpunk.both.black:before {
  height: 100%;
  clip-path: polygon(calc(22% + 28px) -1px,
      calc(22% + 45px) 15px,
      34% 15px,
      calc(34% + 15px) -1px,
      0% 0%, 0% 10%,
      30px calc(10% + 30px),
      30px 100%,
      0% 100%,
      0% 0%);
}

section.cyberpunk:before {
  background-color: var(--black-color);
}

section.cyberpunk:nth-child(even):after,
section.cyberpunk:nth-child(odd):before {
  transform: scaleX(-1);
}

section.cyberpunk.black h1,
section.cyberpunk.black h2,
section.cyberpunk.black h3,
section.cyberpunk.black h4 {
  color: var(--yellow-color);
}

section.cyberpunk.black h1:before,
section.cyberpunk.black h2:before,
section.cyberpunk.black h3:before,
section.cyberpunk.black h4:before,
section.cyberpunk.black hr {
  background-color: var(--yellow-color);
}

/* Paragraphs and lists */

p.cyberpunk,
.cyberpunk p {
  border: 15px solid #141414;
  border-right: 5px solid #141414;
  border-left: 5px solid #141414;
  border-bottom: 24px solid #141414;
  padding: 24px;
  clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) 100%, 80px calc(100% - 0px), 65px calc(100% - 15px), 0% calc(100% - 15px));
  background-color: #141414;
  position: relative;
}

p.cyberpunk.inverse,
.cyberpunk p.inverse {
  border: none;
  padding: 40px 15px 30px;
  clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) 100%, 80px calc(100% - 0px), 65px calc(100% - 15px), 0% calc(100% - 15px));
  background-color: var(--black-color);
  color: var(--yellow-color);
  border-right: 3px solid var(--border-color);
}

p.cyberpunk:before,
.cyberpunk p:before {
  content: "P-14";
  display: block;
  position: absolute;
  bottom: -12px;
  right: 25px;
  padding: 2px 2px 0px 2px;
  line-height: 0.6rem;
  color: var(--black-color);
  background-color: var(--yellow-color);
  border-left: 2px solid var(--border-color);
}

p.cyberpunk.inverse:before,
.cyberpunk p.inverse:before {
  content: "T-71";
  right: 90px;
  bottom: 9px;
}

section.cyberpunk.black p.cyberpunk.inverse:before,
section.cyberpunk.black p.cyberpunk:before,
section.cyberpunk.black p.inverse:before,
section.cyberpunk.black p:before {
  background-color: var(--black-color);
  color: var(--yellow-color);
}

p.cyberpunk:hover:before,
.cyberpunk p:hover:before {
  animation-name: buttonhoverafter;
  animation-duration: var(--glitched-duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

p.cyberpunk.scannedh,
p.cyberpunk.scannedv,
.cyberpunk p.scannedh,
.cyberpunk p.scannedv {
  position: relative;
}

p.cyberpunk.scannedh:after,
.cyberpunk p.scannedh:after {
  content: "";
  position: absolute;
  top: -30px;
  left: 0px;
  width: 100%;
  height: 3px;
  background-color: var(--border-color) !important;
  box-shadow: 0px 0px 10px 4px var(--border-color);
  animation-name: scannedh;
  animation-duration: var(--glitched-long-duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes scannedh {
  0% {
    top: -27px;
  }

  50% {}

  51% {}

  100% {
    top: calc(100% + 12px);
  }
}

p.cyberpunk.scannedv:after,
.cyberpunk p.scannedv:after {
  content: "";
  position: absolute;
  top: -30px;
  left: 0px;
  height: calc(100% + 55px);
  width: 3px;
  background-color: var(--border-color) !important;
  box-shadow: 0px 0px 10px 4px var(--border-color);
  animation-name: scannedv;
  animation-duration: calc(var(--glitched-long-duration) * 3);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes scannedv {
  0% {
    left: 0px;
  }

  50% {}

  51% {}

  100% {
    left: 100%;
  }
}

@keyframes hxafter {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  51% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}



ul.cyberpunk>li:before:not(ul.steps li:before),
.cyberpunk ul>li:before:not(ul.steps li:before) {
  content: " ";
  top: 0px;
  left: calc(-1.2rem - 10px);
  width: 1.2rem;
  height: 1.2rem;
  background-color: var(--black-color);
  position: absolute;
  display: block;
  clip-path: polygon(0% 10%, 100% 70%, 40% 100%, 50% 70%);
}

ol.cyberpunk,
.cyberpunk ol {
  list-style-type: hiragana-iroha;
  counter-reset: li
}

ol.cyberpunk>li,
.cyberpunk ol>li {
  list-style: none;
  position: relative;
  counter-increment: li;
}

ol.cyberpunk li:before,
.cyberpunk ol>li:before {
  content: counter(li);
  top: 0px;
  left: calc(-1.2rem - 10px);
  width: 1.2rem;
  height: 1.2rem;
  color: var(--yellow-color);
  background-color: var(--black-color);
  font-weight: 700;
  position: absolute;
  display: block;
  clip-path: polygon(0% 0%, 60% 0%, 100% 40%, 100% 100%, 0% 100%);
}

ol.cyberpunk li.glitched,
ul.cyberpunk li.glitched,
.cyberpunk ol>li.glitched,
.cyberpunk ul>li.glitched {
  animation-name: liglitched;
  animation-duration: var(--glitched-duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

ol.cyberpunk li.glitched:nth-child(3n+3),
ul.cyberpunk li.glitched:nth-child(1),
.cyberpunk ol>li.glitched:nth-child(3n+3),
.cyberpunk ul>li.glitched:nth-child(1) {
  animation-duration: calc(var(--glitched-duration) * 0.5);
}

ol.cyberpunk li.glitched:nth-child(5n+5),
ul.cyberpunk li.glitched:nth-child(5n+5),
.cyberpunk ol>li.glitched:nth-child(5n+5),
.cyberpunk ul>li.glitched:nth-child(5n+5) {
  animation-duration: calc(var(--glitched-duration) * 0.7);
  animation-timing-function: ease-out;
}

ol.cyberpunk li.glitched:nth-child(2n+2),
ul.cyberpunk li.glitched:nth-child(2n+2),
.cyberpunk ol>li.glitched:nth-child(2n+2),
.cyberpunk ul>li.glitched:nth-child(2n+2) {
  animation-duration: calc(var(--glitched-duration) * 1.5);
  animation-timing-function: ease-in-out;
}

ol.cyberpunk li.glitched:nth-child(4n+4),
ul.cyberpunk li.glitched:nth-child(4n+4),
.cyberpunk ol>li.glitched:nth-child(4n+4),
.cyberpunk ul>li.glitched:nth-child(4n+4) {
  animation-duration: calc(var(--glitched-duration) * 1.2);
  animation-timing-function: ease-in;
}

@keyframes liglitched {
  0% {
    transform: skew(-3deg);
    margin-left: -2px;
  }

  10% {
    transform: skew(3deg);
    margin-left: inherit;
  }

  11% {
    transform: skew(0deg);
    margin-left: 2px;
  }

  50% {
    transform: skew(0deg);
    margin-left: inherit;
  }

  51% {
    transform: skew(3deg);
    margin-left: 5px;
  }

  59% {
    transform: skew(-3deg);
    margin-left: 5px;
  }

  60% {
    transform: skew(0deg);
    margin-left: inherit;
  }

  100% {
    transform: skew(0deg);
  }
}

.cyberpunk a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.cyberpunk a:after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0px;
  width: 100%;
  height: 1.5px;
  background-color: var(--border-color);
  box-shadow: 0px 0px 8px 3px var(--border-color);
}

.cyberpunk a:hover:after {
  animation-name: scanneda;
  animation-duration: var(--glitched-duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes scanneda {
  0% {
    bottom: -1px;
  }

  100% {
    bottom: calc(100% + 1px);
  }
}

.header {
  background: #14141420;
  border-left: 3px solid #a6d4d52f;
  border-top: 3px solid #a6d4d52f;
  height: 60px;
  clip-path: polygon(0px 40px, 26px 0px, calc(60% - 25px) 0px, 60% 10px, 100% 10px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) 100%, 0 calc(100% - 0px), 0 calc(100% - 15px), 0% calc(100% - 15px));
  /* clip-path: polygon(0px 24px, 24px 0px, 100% 0, 100% 0, 100% 0, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) 100%, 80px calc(100% - 0px), 65px calc(100% - 15px), 0% calc(100% - 15px)); */
}




@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@keyframes initText {
  0% {
    content: "Initializing system . . .";
  }

  17% {
    content: "Initializing system . . . \aLoading core modules . . .";
  }

  27% {
    content: "Initializing system . . . \aLoading core modules . . . \aVerifying user permissions . . . ";
  }

  36% {
    content: "Initializing system . . . \aLoading core modules . . . \aVerifying user permissions . . . \a Compiling source code . . . ";
  }

  42% {
    content: "Initializing system . . . \aLoading core modules . . . \aVerifying user permissions . . . \a Compiling source code . . . \aRunning diagnostics . . .";
  }

  49% {
    content: "Loading core modules . . . \aVerifying user permissions . . . \a Compiling source code . . . \aRunning diagnostics . . . \a Establishing secure connection . . .";
  }

  60% {
    content: "Verifying user permissions . . . \a Compiling source code . . . \aRunning diagnostics . . . \a Establishing secure connection . . . \aScanning for vulnerabilities . . .";
  }

  66% {
    content: "Compiling source code . . . \aRunning diagnostics . . . \a Establishing secure connection . . . \aScanning for vulnerabilities . . . \aLoading user interface . . . \a";
  }

  78% {
    content: "Running diagnostics . . . \a Establishing secure connection . . . \aScanning for vulnerabilities . . . \aLoading user interface . . . \a Executing startup procedures . . . \a";
  }

  100% {
    content: "Establishing secure connection . . . \aScanning for vulnerabilities . . . \aLoading user interface . . . \a Executing startup procedures . . . \aInitializing database connections . . . \a";
  }
}

@keyframes opcty {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes counting {
  0% {
    --num: 0;
  }

  60% {
    --num: 66;
  }

  100% {
    --num: 100;
  }
}

@keyframes charging {
  0% {
    width: 0%;
  }

  60% {
    width: 66%;
  }

  100% {
    width: 100%;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}


#loader {
  display: flex;
  flex-direction: column;
  width: 80%;
  animation: opcty 1s ease-in-out;
}



#loader .loading-number {
  counter-reset: num var(--num);
  margin-left: auto;
  transition: --num 5s;
  animation: counting 3s ease-in-out;
  animation-fill-mode: forwards;
}

#loader .loading-number:before {
  content: counter(num);
}

#loading-bar-border {
  display: flex;
  align-items: center;
  padding: 3px;
  border-radius: 3px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  width: 100%;
}

#loading-bar-border .loading-bar {
  height: 0.6rem;
  margin: 1px 0px;
  background: white;
  animation: charging 3s ease-in-out;
  animation-fill-mode: forwards;
}

#warning {
  margin-top: 0.5rem;
  font-family: "Orbitron";
  display: flex;
  height: 1.2rem;
}

#warning .exclamation {
  width: 1rem;
  display: flex;
  justify-content: center;
  background-color: white;
  color: black;
  border-radius: 3px;
}

#line-cascates {
  margin-left: auto;
  display: flex;
  align-items: end;
  margin-top: 5rem;
}

#line-cascates:after {
  height: 5rem;
  font-size: 12px;
  white-space: pre;
  text-align: end;
  color: #b5b5b5;
  content: "";
  animation: initText 3s ease;
  animation-fill-mode: forwards;
}